ul.menu {
  background-color: yellow;
}

.plaatsen>p{
  color: black;
  font-size: 17px;
}
ul.menu li {
  font-size: 40px;
  display: inline;
  margin: 20px;
}
body {
  background-image: url("https://media.tuicontent.nl/p/header/vakantie-parijs.jpg");
  color: purple ;
  font-size: 17px;
}
p {
  color: red;
}
h1 {
  color: blue;
}
